<div class="position-fixed top-0 w-100 z-3 navWrapper" id="navWrapper">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid container d-lg-flex justify-content-between">
      <div class="navbox">
        <a class="navbar-brand" href="#"
          ><img src="/img/logo/logo.svg" alt=""
        /></a>
      </div>
      <div>
        <button
          class="navbar-toggler border-0 shadow-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="burger">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
              />
            </svg>
          </span>
        </button>
      </div>

      <div class="collapse navbar-collapse box" id="navbarNav">
        <ul
          class="navbar-nav justify-content-between d-lg-flex"
          style="font-family: Inter"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutme">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portofolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#template">Template</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
